.article-details-container {
  flex: 1;
  padding: 20px;

  h2 {
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
  }

  .meta {
    font-size: 1em;
  }

  .content {
    margin: 20px 0;
    line-height: 1.6;
  }

  .comments-section {
    margin-top: 20px;

    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    position: relative;
  }

  .comment-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    align-items: normal;
  }

  .comment-author {
    margin-right: 30px;
  }

  .comment-content {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    max-width: 800px;
    word-wrap: break-word;
    display: inline-block;
  }

  .comments-separator {
    height: 2px;
    background-color: #000;
    margin-bottom: 20px;
  }

  .loading {
    font-size: 1.2em;
    color: #999;
  }

  .error {
    color: red;
    font-weight: bold;
  }
}

.back-arrow {
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease;
  margin: 20px;
}

.arrow-icon {
  color: #6a0dad;
  font-size: 2.5em;
  font-weight: bold;
}

.new-comment-section {
  margin-top: 20px;

  margin-left: auto;
  margin-right: auto;
}

.comment-input-container {
  display: flex;
  align-items: center;
}

.new-comment-field {
  flex-grow: 1;
  margin-right: 10px;
}

.title-container {
  display: flex;
  align-items: center;
}

.back-arrow {
  cursor: pointer;
  font-size: 24px;
  margin-right: 10px;
}

.back-arrow-container {
  display: flex;

  padding: 0 10px;
}

.article-title {
  margin: 0;
}

.page-container {
  display: flex;
  height: 100vh;
}

@media (max-width: 768px) {
  .article-details-container .article-details-container {
    padding: 0;
    padding-top: 5px;
  }
  .comment-content {
    width: 150px;
  }
  .back-arrow {
    margin: 0;
    margin-top: 20px;
  }
}
