.back-arrow {
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease;
  margin: 20px;
}

.arrow-icon {
  color: #6a0dad;
  font-size: 2.5em;
  font-weight: bold;
}

.back-arrow:hover .arrow-icon {
  color: #4b0082;
}

.create-article-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;

  h2 {
    text-align: center;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
}

.form-group {
  margin-bottom: 20px;

  input,
  select,
  textarea {
    width: 100%;
    padding: 10px;
    border: 3px solid #ccc;
    border-radius: 10px;
    background-color: transparent;
    border-color: #7550ec;
    color: #333;
    box-sizing: border-box;
    transition: border-color 0.3s ease-in-out;

    &::placeholder {
      color: #999;
    }

    &:focus {
      outline: none;
      border-color: #7550ec;
    }
  }
}

.error {
  color: #e53935;
  font-size: 0.875em;
  margin-top: 5px;
}
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn {
  width: auto;
  padding: 8px 16px;
  background-color: #7550ec;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;

  &.small-button {
    font-size: 0.9em;
    padding: 8px 20px;
  }

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  &:hover:enabled {
    background-color: #4b0082;
  }
}

@media (max-width: 768px) {
  .create-article-container {
    margin: 0 auto;
    padding: 20px;
    max-width: -webkit-fill-available;
  }
}
