/* Style pour la flèche de retour */
.back-arrow {
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease;
  margin: 20px;
}

.arrow-icon {
  color: #6a0dad; /* Violet foncé */
  font-size: 3em; /* Taille augmentée pour une flèche plus grande */
  font-weight: bold; /* Épaissir la flèche */
}

.back-arrow:hover .arrow-icon {
  color: #4b0082; /* Couleur plus sombre au survol */
}

/* Conteneur d'inscription */
.register-container {
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 1px solid #6a0dad;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  position: relative; /* Nécessaire pour la flèche de retour */
}

/* Style des champs du formulaire */
.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  color: #333;
  display: block;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #7550ec;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;
}

.form-control:focus {
  border-color: #7550ec;
  outline: none;
}

.error {
  color: #e53935; /* Rouge vif pour attirer l'attention sur l'erreur */
  font-size: 0.875em;
  margin-top: 5px;
}

/* Style du bouton de soumission */
.btn {
  width: 100%;
  padding: 10px;
  background-color: #7550ec;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.btn:hover:enabled {
  background-color: #4b0082;
}

@media (max-width: 768px) {
  .register-container {
    max-width: 90%; /* Réduire la largeur pour s'adapter aux écrans plus petits */
    padding: 15px; /* Réduire l'espace de remplissage */
    margin: 20px auto; /* Ajouter un peu plus d'espace en haut et en bas */
  }

  h2 {
    font-size: 1.5em; /* Diminuer la taille du texte du titre */
  }

  .form-control {
    padding: 8px; /* Réduire le remplissage des champs du formulaire */
  }

  .btn {
    padding: 8px; /* Réduire le remplissage du bouton */
  }
}
