.back-arrow {
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease;
  margin: 20px;
}

.arrow-icon {
  color: #6a0dad;
  font-size: 3em;
  font-weight: bold;
}

.back-arrow:hover .arrow-icon {
  color: #4b0082;
}

.register-container {
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 1px solid #6a0dad;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  position: relative;
}

@media (max-width: 768px) {
  .register-container {
    max-width: 90%;
    padding: 15px;
    margin: 20px auto;
  }
}
