.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px; /* Ajout de padding pour les écrans étroits */
  text-align: center; /* Centre le contenu pour les écrans étroits */
}

.button-group {
  display: flex;
  flex-wrap: wrap; /* Permet aux boutons de s'enrouler sur plusieurs lignes si nécessaire */
  justify-content: center; /* Centre les boutons horizontalement */
  margin-top: 20px;
}

.center img {
  max-width: 100%; /* L'image ne sera jamais plus large que son conteneur */
  height: auto; /* Maintient le ratio de l'image */
  margin-bottom: 20px; /* Espace sous l'image */
}

.custom-button {
  background-color: white;
  padding: 16px 43px;
  margin: 10px; /* Modifie la marge pour être plus petite */
  border-radius: 29px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: 1rem; /* Taille de police pour une meilleure lisibilité */
}

.custom-button:hover {
  background-color: #490688;
  color: white;
}

.custom-button:focus {
  outline: none;
}

/* Media queries pour les petits écrans */
@media (max-width: 768px) {
  .custom-button {
    padding: 12px 30px; /* Réduit le padding pour les petits écrans */
    font-size: 0.9rem; /* Réduit la taille de la police */
  }
}

@media (max-width: 480px) {
  .custom-button {
    padding: 10px 20px; /* Encore plus petit padding pour les écrans très étroits */
    font-size: 0.8rem; /* Taille de police réduite */
  }
  .button-group {
    flex-direction: column;
  }
}
